.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
    min-height: 500px;
  }
  .editor-class {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
    min-height: 500px;
  }
  .toolbar-class {
    border: 1px solid #ccc;
    
  }